.section {
  text-align: start;
  margin-top: 20px;
  margin-left: 25px;
}

.title__AddContacts {
  font-size: 40px;
  font-weight: 700;
  color: rgb(197, 31, 19);
}

.title__List {
  font-size: 30px;
  color: rgb(197, 31, 19);
}
